* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)),url(./images/background.jpg );
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}

.nav-bar{
    display: flex;
    padding: 40pxx 120px;
}

.nav-logo img{
    width: 135px;
}

.nav-links{
    flex: 1;
}

.nav-links ul{
    margin-left: 50px;
    display: inline;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
    margin-top: 20px;
}

.nav-links ul a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    margin-top: 10px;
}

.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: .5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.btn{
    padding: 10px 20px;
    border: 0;
    background: yellow;
    font-weight: bold;
    cursor: pointer;
}

.nav-links .btn{
    float: right;
}

.banner-title{
    margin: 80px 130px;
    color: #fff;
}

.banner-title h1{
    font-size: 64px;
    margin-bottom: 30px;
}

.banner-title h1 span {
    color: yellow;
}

.vertical-bar{
    height: 100%;
    background: yellow;
    top: 0;
    left: 0;
    position: absolute;
    color: #fff;
}

.search-icon{
    height: 60%;
    width: 80px;
}

.search-icon .icon{
    margin: 45px 23px;
    display: flex;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.social-icons{
    height: 30%;
    width: 80px;
    background: yellow;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}

.social-icons .social{
    margin: 15px 23px;
    margin-left: 13px;
    display: block;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}

.natification{
    display: flex;
    width: 400px;
    right: 0;
    bottom: 0;
    position: absolute;
    background: yellow;
    text-align: center;
}

.contents{
    flex-basis: 50%;
    padding: 10px;
}

.notification-img{
    flex-basis: 50%;
}

.notification-img img{
    width: 100%;
}

.contents a{
    text-decoration: none;
    color: #000;
    font-size: 13px;
    margin: 0 10px;
}

.contents p{
    text-align: right;
    margin-top: 10px;
}

.nav-bar .menu{
    display: none;
}

#logo{
    margin-left: 150px;
}

@media (max-width: 700px){
    .vertical-bar{
        display: none;
    }

    .banner-title{
        margin: 80px 40px;
    }

    .banner-title h1{
        font-size: 50px;
    }

    .natification{
        width: 100%;
    }

    .nav-bar{
        padding: 10px 30px;
    }

    .menu{
        position: absolute;
        right: 20px;
        top: 10px;
        color: #fff;
    }

    .nav-bar .menu{
        display: block;
        color: #fff;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links{
        height: 100vh;
        width: 200px;
        background: #000;
        top: 0;
        right: -200px;
        position: absolute;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    .nav-links ul a{
        display: block;
    }

    .nav-links .btn{
        float: none;
        margin-left: 25px;
        margin-top: 20px;
    }
}

@media (max-width: 425px){
    #logo{
        margin-left: 0px;
    }
}